* {
    box-sizing: border-box;
    color: rgb(58, 58, 58);
}

body {
    margin: 0;
}

/* Header */

header {
    height: 64px;
    padding: 16px 24px;
    justify-content: center;
}

.nav-links {
    float: right;
    display: inline-flex;
    list-style-type: none;
}

.logo-text {
    font-size: 1.5rem;
}

#logo {
    height: 100%;
}

.logo-name {
    display: inline-flex;
    align-items: center;
}

.nav {
    display: inline;
}

.nav-links li {
    margin: 0 8px;
    line-height: 32px;
}

#nav-links-mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

@media (min-width:320px) and (max-width:960px)  {
    .desktop {
        display: none;
    }
  

 }

 @media (min-width:961px) {
    .mobile {
        display: none;
    }
 }

/* 1st section */

.banner-img {
    width: 60%;
    margin: 32px 24px;
}

.first-section {
    display: flex;
    flex-direction: row;
    background-color: rgb(207, 207, 207);
}

.learn-bit {
    display: flex;
    flex-direction: column;
    align-content: baseline;
    justify-content: center;
    width: 25%;
}

.learn-bit button {
    padding: 8px 0;
    background-color: rgb(64, 64, 64);
    color: white;
}

/* 2nd/4th section */

.second-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.practice-bit {
    display: flex;
    flex-direction: column;
    margin: 32px 24px;
    width: 55%;
}

.practice-list {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    width: 45%;
    margin: 16px 0 32px 0;
}

.practice-list li {
    display: flex;
    flex-direction: row;
    padding: 16px;
}

.p-list-img {
    width: 35%;
    height: auto;
}

.p-list-info {
    margin-left: 16px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.guest-item {
    background-color: rgb(207, 207, 207);
}
/* 3rd section */

.third-section {
    background-color: rgb(207, 207, 207);
}

.learning-heading {
    padding-top: 32px;
    text-align: center;
    margin: 0;
}

.learning-grid {
    table-layout: fixed;
    width: 100%;
    padding: 0 72px;
    border-spacing: 32px;
}

.learning-grid img {
    width: 100%;
}

td {
    overflow: hidden;
    align-content: baseline;
    padding: 0 0 24px 0;
    background-color: white;
}

.learn-text {
    padding: 0 16px;
}

/* footer */
footer {
    padding: 16px 24px;
}
.left-footer {
    display: inline;
}

.right-footer {
    float: right;
    display: inline-flex;
    list-style-type: none;
    flex-direction: row;
}

.right-footer li {
    margin:0 8px;
}